.why {
    background-color: var(--color-table);
    color: var(--color-text-item);
}

.why>div>h3 {
    width: 690px;
}

.why__content {
    padding-top: 90px;
}

.content__block {
    display: flex;
}


.block__text {
    width: 50%;
}


.block__text {
    padding: 80px;
    box-sizing: border-box;
    width: calc(100% - 765px);
    background-color: var(--color-bg-item);
}

.block__text>h4 {
    margin: 10px 0 50px;
    font-size: 40px;
}

.block__text>p {
    font-size: 18px;
}

.why__content>div:not(:last-child) {
    margin-bottom: 45px;
}

@media (max-width: 1570px) {
    .block__text {
        padding: 65px;
    }

    .block__text>h4 {
        font-size: 26px;
    }

    .block__text {
        width: calc(100% - 684px);
    }
}

@media (max-width: 1280px) {
    .block__text>h4 {
        margin: 10px 0 20px;
    }

    .content__block>img {
        width: 400px;
        height: 308px;
    }

    .block__text {
        width: calc(100% - 400px);
    }

    .block__text>h4 {
        font-size: 24px;
    }

    .block__text {
        padding: 30px;
    }

    .block__text>p {
        font-size: 16px;
    }

    .why__content {
        padding-top: 50px;
    }
}

@media (max-width: 1000px) {
    .block__text {
        padding: 10px;
    }

    .content__block>img {
        width: 300px;
        height: 231px;
    }

    .block__text {
        width: calc(100% - 300px);
    }

    .block__text>p {
        font-size: 14px;
    }

    .block__text>h4 {
        margin: 5px 0 10px;
        font-size: 20px;
    }


}

@media (max-width: 768px) {
    .content__block {
        flex-direction: column;
    }

    .content__block:nth-child(2) {
        flex-direction: column-reverse !important;
    }

    .content__block>img {
        width: 100%;
        height: auto;
    }

    .block__text {
        width: 100%;
    }

    .why>div>h3 {
        width: 100%;
    }

    .why__content {
        padding-top: 50px;
    }

    .block__text>h4 {
        font-size: 22px;
    }

    .block__text>p {
        font-size: 16px;
    }
}