.header {
    color: var(--color-text-header);
    margin: 0;
    padding: 38px 0;
}

.header .wrap {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0;
}

.close__header {
    display: none;
}


.nav__toggle {
    display: none;
}

.nav__toggle span {
    display: block;
    width: 16px;
    height: 2px;
    margin-bottom: 2px;
    background-color: #5b9cf9;
}

.header nav.flex {
    width: 40%;
    font-size: 16px;
    margin-right: 3%;
    gap: 20px;
}

header .btn-yellow {
    padding: 13.5px 28.5px;
}

@media (max-width: 1620px) {
    .header nav.flex {
        width: auto;
        font-size: 14px;
        margin-right: 0%
    }

    .wrap {
        width: 1140px;
    }

    .header .btn-yellow {
        padding: 13.5px 17.5px;
    }

}

@media (max-width: 1170px) {
    .header nav.flex {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        background: white;
        color: black;
        text-align: center;
        width: 100%;
        padding: 28px 0 28px 11px;
        z-index: 2;
        font-size: 18px;
        justify-content: start;
    }

    .nav.flex a:not(:last-child):after {
        content: "/";
        /* display: inline-flex; */
        position: relative;
        right: 0;
        top: 0;
        padding-left: 5px;
        padding-right: 11px;
    }

    .nav__toggle {
        display: block;
        cursor: pointer;
    }

    .nav ul {
        display: none;
    }


    .nav .header {
        display: block;
        position: absolute;
        right: 11px;
        top: 11px;
    }

    .close__header {
        display: block;
        position: absolute;
        right: 11px;
        top: 11px;
        z-index: 10;
        color: grey;
        font-size: 33px;
        cursor: pointer;
        padding: 10px;
        font-weight: 600;
    }

    .header .wrap {
        padding: 0 20px;
    }
}


@media screen and (max-width: 767px) {
    .header {
        padding: 15px 0;
    }

    .header .btn {
        font-weight: bold;
        font-size: 9px;
        padding: 6.5px 8.5px;
        margin: 0;
    }


    .buttons>button {
        font-weight: bold;
        font-size: 9px;
        padding: 9px 15px;
    }

    .header nav.flex {
        padding: 7px 0;
        font-size: 15px;
        gap: 0px;
        flex-direction: column;
    }

    .nav a {
        display: block;
        margin: 0;
    }

    .close__header {
        display: block;
        position: absolute;
        right: 4px;
        top: -4px;
        font-size: 24px;
    }


    .header .btn-yellow {
        padding: 6.4px 8.7px;
        font-size: 9px;
        margin-right: 10px;
    }

    .nav-toggle {
        display: block;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    a.logo {
        font-weight: 600;
        font-size: 21px;
        margin-left: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        letter-spacing: 1.1px;
        font-weight: bold;
    }

    .nav-toggle {
        margin-left: 10px;
    }
}


@media screen and (max-width: 355px) {
    a.logo {
        font-size: 16px;
    }
}

.header__nav {
    display: none;
}