.flex {
    width: 41%;
    font-size: 16px;
    margin-right: 3%;
    gap: 20px;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
}

@media (max-width: 1620px) {
    .flex {
        width: auto;
        font-size: 14px;
        margin-right: 0%;
    }
}

@media (max-width: 1170px) {
    .flex {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        background: white;
        color: black;
        text-align: center;
        width: 100%;
        padding: 28px 0 28px 11px;
        z-index: 2;
        font-size: 18px;
        justify-content: start;
    }
}

@media screen and (max-width: 767px) {
    .flex {
        padding: 7px 0;
        font-size: 15px;
        gap: 0px;
        flex-direction: column;
    }
}