.industries {
    background: rgb(12, 54, 122);
    background: radial-gradient(circle, rgba(12, 54, 122, 1) 0%, rgba(2, 0, 36, 1) 80%);
}

.industries__list {
    margin: 100px auto 0 auto;
    display: flex;
    width: 1480px;
    flex-wrap: wrap;
}

.industries__list li {
    margin: 0 20px 40px 0;
}

.industries__list>li div {
    display: flex;
    align-items: center;
    font-size: 22px;
    line-height: 1.2;
    text-align: left;
}

.industries__list>li>div img {
    margin-right: 10px;
    width: 24px;
}

.ml {
    margin-left: 60px;
}

@media screen and (max-width: 1280px) {
    .industries__list {
        margin-top: 50px;
    }
}


@media screen and (max-width: 845px) {
    .industries__list {
        margin-top: 30px;
    }
}