.modal_form {
    z-index: 9999;
    max-width: 512px;
    width: 98%;
    height: 27px;
    position: fixed;
    padding: 0;
    top: -11px;
    font-family: "Montserrat", sans-serif;
    right: 0;
    margin: 0 auto;
    left: 0;
    padding: 0;
    font-weight: 300;
    color: black;
    /* display: none;*/
    top: 10vh;
}


.top-form.popup {
    background: white;
    border-radius: 9px;
    width: 100%;
    z-index: 20;
    margin: 0 auto;
}

.close {
    position: absolute;
    right: 21px;
    top: 10px;
    z-index: 10;
    color: grey;
    font-size: 33px;
    cursor: pointer;
    padding: 10px;
    font-weight: 600;
}



form.custom-form.modal-form {
    padding: 39px 50px;
}

.modal-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 138%;
    margin-bottom: 25px;
}


.input-box {
    width: 100%;
}

form.custom-form input,
form.custom-form textarea,
form.custom-form select {
    width: 100%;
    background: #f1f2f3;
    border-radius: 9px;
    height: 71px;
    margin-bottom: 9px;
    font-size: 18px;
    padding-left: 33px;
    box-sizing: border-box;
}



.suggestions-input {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.suggestions-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    vertical-align: top;
    -webkit-text-size-adjust: 100%;
}

.suggestions-suggestions {
    background: #fff;
    border: 1px solid #999;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: default;
    left: 0;
    min-width: 100%;
    position: absolute;
    z-index: 9999;
    -webkit-text-size-adjust: 100%;
}

.suggestions-suggestions {
    color: black;
    top: -10px;
}


.custom-form .btn.submit {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    padding: 26px 0;
    margin-bottom: 21px;
}



.btn {
    border-radius: 8px;
    background-color: #5b9cf9;
    -webkit-box-shadow: 0 0 14px rgb(30 159 221), inset 0px 0px 9px 0px #5fcafe;
    box-shadow: 0 0 14px rgb(30 159 221), inset 0px 0px 9px 0px #5fcafe;
    display: inline-block;
    font-weight: 600;
    padding: 13.5px 28.5px;
    font-size: 15px;
    border-bottom: 3px solid #4683e0;
    cursor: pointer;
    color: white;
}

.modal-form .polit-descr {
    white-space: normal;
    font-size: 10px;
    margin: 0;
    width: 90%;
    padding: 0;
    line-height: 144%;
}

.polit-descr {
    color: black;
    white-space: pre-line;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 12px;
    margin-left: 31px;
    line-height: 160%;
    padding-top: 10px;
}


.overlay {
    z-index: -1;
    position: fixed;
    background-color: #000;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    /*
    display: none;*/
}

.polit-descr a {
    color: #56a7fb;
}

a.polit {
    text-decoration: underline;
}

form fieldset.options {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 9px;
}


fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

form fieldset.options .field {
    display: block;
    flex-basis: 25%;
    text-align: center;
}

form fieldset.options .field input:checked+label {
    background-color: #56a7fb;
    color: #fff;
}


form fieldset.options .field label {
    display: block;
    cursor: pointer;
    padding: 6px;
    border-radius: 6px;
    color: #111;
}

form fieldset.options .field input[type=radio] {
    display: none;
}




@media (max-width: 1620px) {
    .btn {
        padding: 13.5px 23.5px;
    }

}


@media (max-width: 767px) {
    .modal-form .polit-descr {
        white-space: normal;
        font-size: 9.7px;
        margin: 0;
        width: 100%;
        padding: 0;
        line-height: 144%;
    }

    .custom-form .btn.submit {
        width: 100%;
        text-align: center;
        margin-top: 9px;
        font-size: 16px;
        padding: 10px 0;
        margin-bottom: 17px;
    }

    .modal-title {
        font-size: 20px;
        line-height: 143%;
        margin-bottom: 18px;
    }

    .modal_form {
        width: 88%;
    }

    form.custom-form.modal-form {
        padding: 17px 24px;
    }

    form.custom-form input,
    form.custom-form textarea,
    form.custom-form select {
        height: 51px;
        margin-bottom: 11px;
        font-size: 14px;
        padding-left: 20px;
    }

    .close {
        right: 4px;
        top: -2px;
        font-size: 24px;
    }
}

@media screen and (max-width: 500px) {
    form fieldset.options .field input+label {
        font-size: 8px;
    }
}



@media screen and (max-width: 425px) {
    .custom-form .btn.submit {
        font-size: 14px;
    }
}