/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
:root {
  --color-body: #f1f2f3;
  --color-bg-header: #092948;
  --color-text-header: #ffffff;
  --color-accent: #2c9aff;
  --color-text-dark: #092948;
  --color-bg-yellow: #f9d45b;

  --color-bg-item: #ffffff;
  --color-text-item: #222222;
  --color-text-muted: #868c91;
  --color-border-params: #edeef1;
}

html {
  -webkit-text-size-adjust: none;
}


body {
  background-color: var(--color-body);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
  background-color: #fff;
}

.logo {
  font-weight: 600;
  font-size: 26px;
}

.logo>span {
  color: var(--color-accent);
}

@media screen and (max-width: 767px) {
  .logo {
    font-weight: 600;
    font-size: 21px;
    margin-left: 0;
    flex-grow: 1;
    letter-spacing: 1.1px;
    font-weight: bold;
  }
}


a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
}

input {
  border: none;
}

input::placeholder,
textarea::placeholder {
  color: #8b9094;
}

.container {
  max-width: 1530px;
  margin: 0 auto;
}

#catalogue {
  background-color: #f1f2f3;
  padding-top: 1px;
}


h1 {
  font-size: 64px;
  font-weight: 900;
  text-align: center;
  margin: 60px 0 20px 0;
  line-height: 118%;
}

h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  max-width: 80%;
  margin: 20px auto 120px auto;
}



@media screen and (max-width: 1000px) {
  h1 {
    font-size: 56px;

  }

  h2 {
    font-size: 30px;
  }
}


@media screen and (max-width: 768px) {
  h1 {
    font-size: 50px;
    line-height: 1;

  }

  h2 {
    font-size: 28px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 22px;
  }
}


nav>.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 20px;
  font-size: 15px;
}

.btn-yellow {
  border-radius: 8px;
  background-color: var(--color-bg-yellow);
  box-shadow: 0 0 14px #dda11e, inset 0px 0px 9px 0px #fed45f;
  display: inline-block;
  padding: 20px 40px;
  border: none;
  border-bottom: 3px solid #e0a246;
  cursor: pointer;
  color: var(--color-text-dark);
  font-weight: 600;
  font-family: inherit;
  font-size: 15px;
}

.btn-yellow:hover {
  box-shadow: none;
}

.btn-yellow:active {
  box-shadow: inset 0 5px 4px rgb(0 0 0 / 34%);
  background: linear-gradient(180deg, #ffc013, #f9e95b);
}

a.hover-underline {
  position: relative;
}

a.hover-underline::after {
  content: ' ';
  display: block;
  position: absolute;
  margin-top: -5px;
  height: 1px;
  background-color: #fff;
  width: 100%;
  transform: scaleX(0.0);
  transform-origin: center;
  transition: all 100ms ease-out;
}


a.hover-underline:hover::after {
  transform: scaleX(1.0);
}

#catalogue>.container {
  margin: -90px auto 0 auto;
  padding: 0 20px 10px 20px;
}


#next {
  text-align: center;
  margin: 20px 0;
}



.flex {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;

}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--color-accent);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

textarea {
  border: none;
}


.wrap {
  width: 1530px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 1620px) {
  .wrap {
    width: 1140px;
  }
}

@media (max-width: 1170px) {
  .wrap {
    width: 100%;
    max-width: 960px;
    padding: 0 10px;
  }
}

@media (max-width: 767px) {
  .wrap {
    width: 100%;
    /*
      max-width: 420px;*/
    padding: 0 20px;
  }
}



html {
  box-sizing: border-box;
  height: 100%;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  html {
    display: flex;
    flex-direction: column;
  }
}

body {
  /* display: flex; */
  /* flex-direction: column; */
  /* min-height: 100%; */
  /* margin: 0; */
  /* background-color: #fff; */
  /* line-height: 1; */
  /* text-rendering: optimizeLegibility; */
  -webkit-text-decoration-skip: objects;
          text-decoration-skip: objects;
  /* -webkit-text-size-adjust: 100%; */
  /* -webkit-font-smoothing: antialiased; */
  /* -webkit-tap-highlight-color: transparent; */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:focus {
  outline: none;
}

p,
dd,
dl,
figure,
blockquote {
  margin: 0;
}

blockquote,
q {
  quotes: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: inherit;
}


audio,
video {
  display: block;
}

img {
  /* display: block; */
  border: none;
}

iframe {
  border: none;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr {
  border: none;
  text-decoration: none;
}



i,
em {
  font-style: inherit;
}

dfn {
  font-style: inherit;
}

mark {
  background-color: transparent;
  color: inherit;
}

small {
  font-size: inherit;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: inherit;
  line-height: 0;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-align: left;
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
  -webkit-appearance: none;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: none;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

[type='search'] {
  outline: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

legend {
  display: block;
  padding: 0;
  white-space: normal;
}

select {
  background: whitesmoke;
  border: thin solid white;
  padding: 8px 6px;
  cursor: pointer;
  /* -webkit-appearance: none;
-moz-appearance: none;
appearance: none; */
}

select::-ms-expand {
  display: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

::-moz-placeholder {
  color: inherit;
  opacity: 1;
  -moz-transition: opacity .3s;
  transition: opacity .3s;
}

:-moz-placeholder {
  color: inherit;
  opacity: 1;
  -moz-transition: opacity .3s;
  transition: opacity .3s;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
  -ms-transition: opacity .3s;
  transition: opacity .3s;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
}

:focus::-moz-placeholder {
  opacity: 0;
}

:focus:-moz-placeholder {
  opacity: 0;
}

:focus:-ms-input-placeholder {
  opacity: 0;
}

[hidden] {
  display: none;
}

:disabled,
.disabled {
  cursor: not-allowed;
}

::-ms-clear {
  display: none;
}

:-webkit-autofill {
  box-shadow: 0 0 100px #fff inset;
  -webkit-text-fill-color: currentColor;
}


.width-wrap {
  display: block;
  margin: 0 auto;
  position: relative;
}



.flex-wrap {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: -webkit-flex;
  /* Safari */
  -webkit-flex-wrap: wrap;
  /* Safari 6.1+ */
  justify-content: space-between;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*input::placeholder{color: white};*/
input::-webkit-input-placeholder {
  color: #999;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

/* Firefox < 19 */
input:-moz-placeholder {
  color: #999;
}

input:focus:-moz-placeholder {
  color: transparent;
}

/* Firefox > 19 */
input::-moz-placeholder {
  color: #999;
}

input:focus::-moz-placeholder {
  color: transparent;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
  color: #999;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

i {
  font-style: normal;
}

input.error {
  background: rgb(255, 126, 126) !important;
  border-color: #f05252 !important;
}

.flex-vertical-center {
  align-items: center;
}

.flex-center {
  justify-content: center;
}

section#main {
  background-position: top center;
  background-color: #0b1e30;
  color: white;
  margin-bottom: 0;
  /* padding-bottom: 1px;*/
}

.shine:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 1px;
  border-radius: 50%;
  box-shadow: 0 0 116px 333px rgb(87 157 236 / 31%);
}

.shine.center-shine:before {
  right: 0;
  left: 0;
  margin: 0 auto;
  box-shadow: 0 0 196px 323px rgba(87, 157, 236, 0.25);
}

.pre-line {
  white-space: pre-line;
  width: 63%;
}

h1+p {
  white-space: normal;
  font-size: 29px;
  line-height: 144%;
  margin-bottom: 53px;
}

.polit-wrapper {
  color: #a1a4a8;
  font-size: 16px;
  padding: 7px 0 0;
  line-height: 170%;
  margin-bottom: 52px;
}

@media (max-width: 1620px) {
  h1+p {
    font-size: 22px;
    line-height: 158%;
    margin-bottom: 43px;
  }
}

@media (max-width: 1170px) {
  h1+p {
    font-size: 20px;
    line-height: 158%;
    margin-bottom: 26px;
  }
}

@media (max-width: 767px) {
  h1+p {
    white-space: normal;
    font-size: 19px;
    line-height: 146%;
    margin-bottom: 32px;
  }

}

.wrap {
  width: 1530px;
  margin: 0 auto;
  box-sizing: border-box;
}



.container {
  .container {
    max-width: 1530px;
    margin: 0 auto;
  }
}

.header-btn {
  padding: 13.5px 28.5px
}

@media (max-width: 1620px) {
  .header-btn {
    padding: 13.5px 17.5px;
  }

  .wrap {
    width: 1140px;
  }
}




@media (max-width: 1170px) {
  .wrap {
    width: 100%;
    max-width: 960px;
    padding: 0 10px;
  }

  .pre-line {
    width: 592px;
  }
}

@media screen and (max-width: 767px) {
  .wrap {
    width: 100%;
    /* max-width: 420px; */
    padding: 0 20px;
  }

  .header-btn {
    padding: 6.4px 8.7px;
    font-size: 9px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 640px) {
  .pre-line {
    width: 100%;
  }
}
/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./components/TheFooter/style.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
footer {
    padding: 55px 0;
}

.flex-basis-25 {
    flex-basis: 25%;
}

footer a.logo {
    margin-bottom: 26px;
    display: block;
}

a.phone {
    display: block;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 8px;
}

a.mailto {
    font-size: 16px;
    color: #868c91;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: right;
}

.flex-basis-45 {
    flex-basis: 45%;
}

.footer-item p {
    color: #868c91;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    white-space: pre-line;
}

.mb-2 {
    margin-bottom: 20px;
}

.fs-16 {
    font-size: 1.6em;
}

.footer-item.w-100 {
    width: 100%;
    margin-top: 22px;
    border-top: thin solid #edeef1;
    padding-top: 18px;
}


@media (max-width: 1620px) {
    .footer-item:nth-child(1) {
        width: 25%;
    }
}

@media (max-width: 1170px) {
    footer {
        padding: 35px 0;
    }

    .footer-item:nth-child(1) {
        width: 25%;
    }
}

@media (max-width: 826px) {
    footer {
        padding: 22px 0;
    }

    .footer-item:nth-child(1) {
        width: 100%;
    }

    .footer-item {
        flex-basis: 100%;
        max-width: 100%;
        text-align: center;
    }

    .footer-item p {
        color: #868c91;
        font-weight: 500;
        font-size: 10px;
        line-height: 150%;
        white-space: pre-line;
    }

    footer a.logo {
        margin-bottom: 21px;
        display: block;
    }

    a.phone {
        font-size: 20px;
    }
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./components/Navigation/page.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.page_flex__4D_3s {
    width: 41%;
    font-size: 16px;
    margin-right: 3%;
    gap: 20px;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
}

@media (max-width: 1620px) {
    .page_flex__4D_3s {
        width: auto;
        font-size: 14px;
        margin-right: 0%;
    }
}

@media (max-width: 1170px) {
    .page_flex__4D_3s {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        background: white;
        color: black;
        text-align: center;
        width: 100%;
        padding: 28px 0 28px 11px;
        z-index: 2;
        font-size: 18px;
        justify-content: start;
    }
}

@media screen and (max-width: 767px) {
    .page_flex__4D_3s {
        padding: 7px 0;
        font-size: 15px;
        gap: 0px;
        flex-direction: column;
    }
}
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./components/TheHeader/page.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.page_header__Tx_dd {
    color: var(--color-text-header);
    margin: 0;
    padding: 38px 0;
}

.page_nav__toggle__uhEbl {
    display: none;
}



.page_close__header__RzmBv {
    display: none;
}

@media screen and (max-width: 767px) {
    .page_header__Tx_dd {
        padding: 15px 0;
    }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./components/Modals/index.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.modal_form {
    z-index: 9999;
    max-width: 512px;
    width: 98%;
    height: 27px;
    position: fixed;
    padding: 0;
    top: -11px;
    font-family: "Montserrat", sans-serif;
    right: 0;
    margin: 0 auto;
    left: 0;
    padding: 0;
    font-weight: 300;
    color: black;
    /* display: none;*/
    top: 10vh;
}


.top-form.popup {
    background: white;
    border-radius: 9px;
    width: 100%;
    z-index: 20;
    margin: 0 auto;
}

.close {
    position: absolute;
    right: 21px;
    top: 10px;
    z-index: 10;
    color: grey;
    font-size: 33px;
    cursor: pointer;
    padding: 10px;
    font-weight: 600;
}



form.custom-form.modal-form {
    padding: 39px 50px;
}

.modal-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 138%;
    margin-bottom: 25px;
}


.input-box {
    width: 100%;
}

form.custom-form input,
form.custom-form textarea,
form.custom-form select {
    width: 100%;
    background: #f1f2f3;
    border-radius: 9px;
    height: 71px;
    margin-bottom: 9px;
    font-size: 18px;
    padding-left: 33px;
    box-sizing: border-box;
}



.suggestions-input {
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.suggestions-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    vertical-align: top;
    -webkit-text-size-adjust: 100%;
}

.suggestions-suggestions {
    background: #fff;
    border: 1px solid #999;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    cursor: default;
    left: 0;
    min-width: 100%;
    position: absolute;
    z-index: 9999;
    -webkit-text-size-adjust: 100%;
}

.suggestions-suggestions {
    color: black;
    top: -10px;
}


.custom-form .btn.submit {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    padding: 26px 0;
    margin-bottom: 21px;
}



.btn {
    border-radius: 8px;
    background-color: #5b9cf9;
    box-shadow: 0 0 14px rgb(30 159 221), inset 0px 0px 9px 0px #5fcafe;
    display: inline-block;
    font-weight: 600;
    padding: 13.5px 28.5px;
    font-size: 15px;
    border-bottom: 3px solid #4683e0;
    cursor: pointer;
    color: white;
}

.modal-form .polit-descr {
    white-space: normal;
    font-size: 10px;
    margin: 0;
    width: 90%;
    padding: 0;
    line-height: 144%;
}

.polit-descr {
    color: black;
    white-space: pre-line;
    flex-grow: 1;
    font-size: 12px;
    margin-left: 31px;
    line-height: 160%;
    padding-top: 10px;
}


.overlay {
    z-index: -1;
    position: fixed;
    background-color: #000;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    /*
    display: none;*/
}

.polit-descr a {
    color: #56a7fb;
}

a.polit {
    text-decoration: underline;
}

form fieldset.options {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 9px;
}


fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

form fieldset.options .field {
    display: block;
    flex-basis: 25%;
    text-align: center;
}

form fieldset.options .field input:checked+label {
    background-color: #56a7fb;
    color: #fff;
}


form fieldset.options .field label {
    display: block;
    cursor: pointer;
    padding: 6px;
    border-radius: 6px;
    color: #111;
}

form fieldset.options .field input[type=radio] {
    display: none;
}




@media (max-width: 1620px) {
    .btn {
        padding: 13.5px 23.5px;
    }

}


@media (max-width: 767px) {
    .modal-form .polit-descr {
        white-space: normal;
        font-size: 9.7px;
        margin: 0;
        width: 100%;
        padding: 0;
        line-height: 144%;
    }

    .custom-form .btn.submit {
        width: 100%;
        text-align: center;
        margin-top: 9px;
        font-size: 16px;
        padding: 10px 0;
        margin-bottom: 17px;
    }

    .modal-title {
        font-size: 20px;
        line-height: 143%;
        margin-bottom: 18px;
    }

    .modal_form {
        width: 88%;
    }

    form.custom-form.modal-form {
        padding: 17px 24px;
    }

    form.custom-form input,
    form.custom-form textarea,
    form.custom-form select {
        height: 51px;
        margin-bottom: 11px;
        font-size: 14px;
        padding-left: 20px;
    }

    .close {
        right: 4px;
        top: -2px;
        font-size: 24px;
    }
}

@media screen and (max-width: 500px) {
    form fieldset.options .field input+label {
        font-size: 8px;
    }
}



@media screen and (max-width: 425px) {
    .custom-form .btn.submit {
        font-size: 14px;
    }
}

.actives {
    background-color: #56a7fb;
    color: #fff;
    display: block;
    cursor: pointer;
    padding: 6px;
    border-radius: 6px;
    color: #111;
}
