.invests {
    background: url(../../public/bg.webp);
    background-position: 0% 0%;
    background-repeat: no-repeat;
}

.invests {
    height: 800px;
}

.invests>div>h1 {
    margin: 0 !important;
    text-align: left !important;
    font-weight: bold !important;
}

.invest-btn {
    width: 360px;
    text-align: center;
}


@media screen and (max-width: 425px) {
    .invest-btn {
        width: 100%;
    }
}