.invests {
    background: url(../../public/bg.webp);
    background-position: 0% 0%;
    background-repeat: no-repeat;
}

.invests {
    height: 800px;
}

.invests>div>h1 {
    margin: 0 !important;
    text-align: left !important;
    font-weight: bold !important;
}

.invest-btn {
    width: 360px;
    text-align: center;
}


@media screen and (max-width: 425px) {
    .invest-btn {
        width: 100%;
    }
}

.placement {
    background-color: var(--color-text-header);
    color: var(--color-text-item);

}

.placement-bg {
    background: url(../../public/image.webp);
    background-position: right;
    background-repeat: no-repeat;
    height: 800px;
}

.placement-container {
    padding-top: 200px;
}

.placement-container>div {
    width: 490px;
}

.placement-container>div>h3 {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.4;
    text-align: left;
}

.placement-container>div>p {
    font-size: 24px;
    line-height: 1.5;
    text-align: left;
    margin-top: 105px;
}

@media screen and (max-width: 1700px) {
    .placement-bg {
        background-position: calc(10vw + 417px);
    }
}